CONFIG_TARGET_ Board=""
CONFIG_TARGET_ARCH_alpha=n
CONFIG_TARGET_ARCH_arm=y
CONFIG_TARGET_ARCH_avr32=n
CONFIG_TARGET_ARCH_m68k=n
CONFIG_TARGET_ARCH_mips=n
CONFIG_TARGET_ARCH_nios2=n
CONFIG_TARGET_ARCH_powerpc=n
CONFIG_TARGET_ARCH_sh=n
CONFIG_TARGET_ARCH_x86=n
CONFIG_TARGET_ARCH_xtensa=n
CONFIG_TARGET_Endianness="little"
CONFIG_TARGET_SUBTARGET_armvirt=y
CONFIG_TARGET_PROFILE="generic"
# CONFIG_TARGET_PROFILE_Default=y
# CONFIG_TARGET_PROFILE_sfp=y
CONFIG_DEFAULT_TARGET_PROFILE="generic"
CONFIG_TARGET_PREINIT_TIMEOUT=180
CONFIG_TARGET_UPDATE_TIMEOUT=300
CONFIG_KERNEL_COMPILER_CCACHE=y
CONFIG_KERNEL_UTS_VERSION="5.15.134"
CONFIG_LINUX_VERSION_5_15=y
# CONFIG_LINUX_4_14 is not set
# CONFIG_LINUX_4_19 is not set
# CONFIG_LINUX_5_4 is not set
# CONFIG_LINUX_5_10 is not set
# CONFIG_LINUX_5_15 is not set
# CONFIG_LINUX_5_15_DEFAULT_VERSIONS is not set
# CONFIG_LINUX_5_16 is not set
# CONFIG_LINUX_5_17 is not set
# CONFIG_LINUX_5_18 is not set
# CONFIG_LINUX_5_19 is not set
# CONFIG_LINUX_6_1 is not set
# CONFIG_LINUX_6_6 is not set
CONFIG_DEFAULT_KERNEL_IMAGE_URL=""
CONFIG_DEFAULT_KERNEL_IMAGE_CHECKSUM=""
CONFIG_IMAGE_BUILD_TOOLCHAIN_DEFAULT=y
# CONFIG_IMAGE_BUILD_TOOLCHAIN_EXTERNAL is not set
CONFIG_TOOLCHAINOPTS=y
# CONFIG_TOOLCHAIN_EXTERNAL_TOOLCHAIN is not set
# CONFIG_TOOLCHAIN_BUILDIN_KERNEL_HEADERS is not set
CONFIG_USE_MUSL=y
# CONFIG_USE_GLIBC is not set
CONFIG_EXTERNAL_KERNEL_TREE=""
CONFIG_EXTERNAL_KERNEL_DIR=""
CONFIG_KERNEL_PATCH_BASE=""
CONFIG_KERNEL_PATCH_KERNEL=""
CONFIG_KERNEL_TESTING_PATCH=""
CONFIG_KERNEL_GIT_CLONE_URL=""
CONFIG_KERNEL_GIT_VERSION=""
CONFIG_KERNEL_SOURCE="kernel"
CONFIG_KERNEL_NAME="Linux"
CONFIG_KERNEL_TESTING_LIBCURL=y
CONFIG_KERNEL_PRINTK=y
CONFIG_KERNEL_KALLSYMS=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_KERNEL=n
CONFIG_KERNEL_MAGIC_SYSRQ=y
CONFIG_KERNEL_EFI_STUB=y
# CONFIG_KERNEL_LZO is not set
CONFIG_KERNEL_XZ=y
# CONFIG_KERNEL_GZIP is not set
# CONFIG_KERNEL_BZIP2 is not set
# CONFIG_KERNEL_LZ4 is not set
# CONFIG_KERNEL_DEVEL is not set
CONFIG_KERNEL_CC_OPTIMIZE_S="-O2"
CONFIG_KERNEL_CC_OPTIMIZE_G="-g0"
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -march=armv8-a -mtune=cortex-a53"
CONFIG_TARGET_CFLAGS=""
CONFIG_TARGET_LDFLAGS=""
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_DEFAULT_EXTRA_CFLAGS="-pipe"
CONFIG_BUSYBOX_DEFAULT_EXTRA_LDFLAGS=""
CONFIG_BUSYBOX_CONFIG_DESKTOP=n
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_XZ=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_LZMA=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_BZ2=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_GZ=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_Z=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_BZIP2=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_GZIP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_COMPRESS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_ZCAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_BZIP2CAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_GZIPCAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_DECOMPRESS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_BUFFERS_USE_MALLOC=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_64_BIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_HURRY_UP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_BASE_10=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_POW_PRECISION_6=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_SUPPORT_INF_NAN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_TRIGO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_COMPLEX=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_WORD_SPLIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_CHECK_ERRLOGIC=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_NOFORK=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_READ_EDITING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_HISTEDIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_TAB_COMPLETION=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_TIMING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_EXPAND_ALIAS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_GLOB=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MATH_BORING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_EXTRA_QUIET=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_PROMPT_YNA=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_LONG_OPTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_VERBOSE_CP_MESSAGE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_CMDLINE_EDITING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_FANCY_PROMPT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_MINIMAL_EDITING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_KILL_SIGHUP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_SIGCHLD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_JOB_CONTROL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_ISATTY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_ENVIRONMENT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_CMDL_HINTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_UMOUNT_OPTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_RUN_USER_COMMANDS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_TEST_XCLAUSE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_TEST_SCAN_ARG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_TEST_PROTECT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SHOW_USAGE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SHOW_VERSION=y
CONFIG_BUSYBOX_CONFIG_FEATURE_FAST_TOP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_ETC_NETWORKS_FILES=y
CONFIG_BUSYBOX_CONFIG_FEATURE_ETC_SERVICES_FILES=y
CONFIG_BUSYBOX_CONFIG_FEATURE_NETLINK_ROUTE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOGD_CFG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_IPC_SYMBOLS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_DEPMOD_FILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_MCONFIG_FILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_SETFONT_DIR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_SWAPOFF_DIR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_UMOUNT_LOOP_DIR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_NSENTER_OVERRIDE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_PID_FILE_PATH=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_MOUNT_FLAGS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_DEV_REFERENCE_BASE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_NAME_IF_NULL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_USER_ADDITIONAL_GROUPS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DEFAULT_UMASK=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VOLUMEID=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_TAR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_CP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_MV=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_INSTALL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_INSTALL_SCRIPT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_FEATURE_REPLACE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_RFC3397=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_8021Q=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_IP_CLASSLESS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_LEASE_BROADCAST=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_ACCEPT_USERNAME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SANITIZEOPT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_DEFAULT_SCRIPT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_ARPING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_DISCOVERTIMEOUT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_MAX_CLIENTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SEND_HOSTNAME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_REQUEST_OPTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_CLI_PARSE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_REBUILD_DFLT_SCRIPT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SCRIPT_BUILTIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SCRIPT_IPV6DNS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SCRIPT_ROUTING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SCRIPT_RESOLV_CONF=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SCRIPT_LEASE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_LONG_OPTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPC_SANITIZE_HOSTNAME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_WRITE_LEASEFILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_REQUIRE_MESSAGE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_SHORT_ARPING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_LEASE_TIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_LOG_ON_LEASES=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_DHCPRELAY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_BOOTP_SUPPORT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_ACCEPT_RELAY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_BASE_IP_ON_MAC=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_REBUILD_DFLT_SCRIPT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_SCRIPT_BUILTIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_SCRIPT_LEASE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_LONG_OPTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_ECHO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DISCARD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_TIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_DAYTIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_CHARGEN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_STREAM_CLIENTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPPORT_BUILTIN_SERVERS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_RPC=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_TCP_WRAPPERS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_xinetd_conf=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_DAYTIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_TIME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_CHARGEN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_DISCARD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_ECHO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_GETHOSTNAME=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_GETPASSWD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_LOGIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_NNTP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_POP3=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_RPC_RSTATD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_RPC_SERVD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_RPC_SGI_NET_FILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_RPC_SPRAYD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_RPC_SYSTATD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_TALK=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_TELNET=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_TFTP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_FTPD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_UDP_ZEROIP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_TCP_ZEROIP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_SUPERBANNER=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_MAX_CONNECTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_LISTEN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_WAIT_BUILTIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD_NOWAIT_BUILTIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INETD=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kernel=y
CONFIG_PACKAGE_kmod-crypto-hw-arm-neon-crypto=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_libc=y
CONFIG_PACKAGE_libgcc=y
CONFIG_PACKAGE_libustream-wolfssl=y
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppox=y
CONFIG_PACKAGE_procd=y
CONFIG_PACKAGE_swconfig=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_wpad-basic-wolfssl=y
CONFIG_PACKAGE_zlib=y
# CONFIG_PACKAGE_fstools is not set
# CONFIG_PACKAGE_jansson is not set
# CONFIG_PACKAGE_jsonfilter is not set
# CONFIG_PACKAGE_libblobmsg-json is not set
# CONFIG_PACKAGE_libjson-c is not set
# CONFIG_PACKAGE_libnl-tiny is not set
# CONFIG_PACKAGE_libubox20211216 is not set
# CONFIG_PACKAGE_libuci20130104 is not set
# CONFIG_PACKAGE_libxtables is not set
# CONFIG_PACKAGE_mtd is not set
# CONFIG_PACKAGE_uboot-images is not set
CONFIG_EFI_IMAGES=y
CONFIG_EFI_PARTITION_SIZE=16
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
CONFIG_TARGET_IMAGES_GZIP=n
# CONFIG_TARGET_IMAGES_BZIP2 is not set
CONFIG_TARGET_IMAGES_LZMA=n
CONFIG_TARGET_IMAGES_XZ=y
# CONFIG_TARGET_IMAGES_LZO is not set
# CONFIG_TARGET_IMAGES_LZ4 is not set
# CONFIG_TARGET_IMAGES_PIGZ is not set
# CONFIG_TARGET_IMAGES_ZSTD is not set
CONFIG_TARGET_IMAGES_INITRAMFS=y
CONFIG_TARGET_IMAGES_KERNEL=y
CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS=y
CONFIG_TARGET_IMAGES_EFIIMG=y
CONFIG_TARGET_IMAGES_VMDK=y
CONFIG_TARGET_IMAGES_QCOW2=y
# CONFIG_TARGET_IMAGES_RAW is not set
# CONFIG_TARGET_IMAGES_COMBINED is not set
# CONFIG_TARGET_IMAGES_PAD is not set
# CONFIG_TARGET_IMAGES_SDCARD is not set
# CONFIG_TARGET_IMAGES_TAR is not set
# CONFIG_TARGET_IMAGES_ZIP is not set
# CONFIG_TARGET_IMAGES_INITRAMFS_EXT4FS is not set
# CONFIG_TARGET_IMAGES_KERNEL_EXT4FS is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_EXT4FS is not set
# CONFIG_TARGET_IMAGES_DTBIMG is not set
# CONFIG_TARGET_IMAGES_KERNEL_DTBIMG is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_DTBIMG is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_XZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_XZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_XZ is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_GZIP is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_GZIP is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_GZIP is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_LZMA is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_LZMA is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_LZMA is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_LZO is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_LZO is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_LZO is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_LZ4 is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_LZ4 is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_LZ4 is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_PIGZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_PIGZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_PIGZ is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_ZSTD is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_ZSTD is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_ZSTD is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_GZIP is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_GZIP is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_GZIP is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_BZIP2 is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_BZIP2 is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_BZIP2 is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_LZMA is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_LZMA is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_LZMA is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_XZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_XZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_XZ is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_LZO is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_LZO is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_LZO is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_LZ4 is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_LZ4 is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_LZ4 is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_PIGZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_PIGZ is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_PIGZ is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_ZSTD is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_ZSTD is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_ZSTD is not set
# CONFIG_TARGET_IMAGES_SDCARD_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_SDCARD_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_TARGZ_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_TARGZ_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_ZIP_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_ZIP_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_INITRAMFS_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_INITRAMFS_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_ROOTFS_SQUASHFS_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_SQUASHFS_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_SQUASHFS_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_ROOTFS_TARGZ_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_ROOTFS_TARGZ_IMAGESHA256SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_IMAGEMD5SUM is not set
# CONFIG_TARGET_IMAGES_KERNEL_INITRAMFS_ROOTFS_TARGZ_IMAGESHA256SUM is not set
CONFIG_AUTOREBUILD=y
CONFIG_DOWNLOAD_TEST_URL=""
CONFIG_DOWNLOAD_PLUGIN_HTTPGET=y
CONFIG_DOWNLOAD_PLUGIN_IPV6=y
CONFIG_DOWNLOAD_PLUGIN_FILE=y
CONFIG_DOWNLOAD_PLUGIN_SFTP=y
CONFIG_DOWNLOAD_PLUGIN_SCP=y
CONFIG_DOWNLOAD_PLUGIN_WEBSVN=y
CONFIG_DOWNLOAD_PLUGIN_SVN=y
CONFIG_DOWNLOAD_PLUGIN_GIT=y
CONFIG_DOWNLOAD_PLUGIN_HG=y
CONFIG_DOWNLOAD_PLUGIN_FTP=y
CONFIG_DOWNLOAD_PLUGIN_Rsync=y
CONFIG_DOWNLOAD_PLUGIN_Curl=y
CONFIG_DOWNLOAD_PLUGIN_Wget=y
CONFIG_DOWNLOAD_PLUGIN_Axel=y
CONFIG_DOWNLOAD_PLUGIN_Area51=y
CONFIG_DOWNLOAD_PLUGIN_SRCDIR=y
CONFIG_DOWNLOAD_PLUGIN_Local=y
CONFIG_DOWNLOAD_PLUGIN_Test=y
CONFIG_CCACHE=y
CONFIG_BUILD_PATENTED=y
CONFIG_SRC_TREE_SQUASHFS=y
CONFIG_SIGN_PACKAGES=y
CONFIG_PAD_KERNEL_PADSIZE=16
CONFIG_PAD_ROOTFS_PADSIZE=16
CONFIG_TARGET_ROOTFS_PAD=16
CONFIG_KERNEL_PAD=16
CONFIG_CHECK_LICENSE_GPLV2=y
CONFIG_CHECK_LICENSE_GPLV3=y
CONFIG_CHECK_LICENSE_MIT=y
CONFIG_CHECK_LICENSE_BSD2=y
CONFIG_CHECK_LICENSE_BSD3=y
CONFIG_CHECK_LICENSE_ISC=y
CONFIG_CHECK_LICENSE_PD=y
CONFIG_CHECK_LICENSE_CUSTOM=y
CONFIG_PACKAGE_kmod-ata-virtio=y
CONFIG_PACKAGE_kmod-block-mount=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-virtio-net=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_partx-utils=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-filebrowser=y
# CONFIG_PACKAGE_luci-app-linkease=y
# CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Geodata=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_tuic_client=y
CONFIG_PACKAGE_luci-app-passwall_Iptables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall_Nftables_Transparent_Proxy=y
# CONFIG_PACKAGE_luci-app-quickstart=y
# CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_PACKAGE_luci-app-rclone=y
# CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=y
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_luci-i18n-filebrowser-zh-cn=y
CONFIG_PACKAGE_luci-i18n-linkease-zh-cn=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-quickstart-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=y
CONFIG_PACKAGE_luci-i18n-rclone-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-lib-taskd=y
CONFIG_PACKAGE_luci-lib-xterm=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_openssh-sftp-server=y
# CONFIG_PACKAGE_luci-app-firewall is not set
# CONFIG_PACKAGE_luci-app-opkg is not set
# CONFIG_PACKAGE_luci-theme-bootstrap is not set
